{
    "shared_service_account_id":"${shared_service_account_id}",
    "security_account_id":"${security_account_id}",
    "log_account_id":"${log_account_id}",
    "ops_account_id":"${ops_account_id}",
    "dev_account_id":"${dev_account_id}",
    "prod_account_id":"${prod_account_id}",
    "application_folder_id": "${application_folder_id}"
}




