{
	"dev_egress_eip_id": "${dev_egress_eip_id}",
	"dev_egress_eip_ip_address": "${dev_egress_eip_ip_address}",
    "dev_egress_nat_gateway_id": "${dev_egress_nat_gateway_id}",

    "prod_egress_eip_id": "${prod_egress_eip_id}",
	"prod_egress_eip_ip_address": "${prod_egress_eip_ip_address}",
    "prod_egress_nat_gateway_id": "${prod_egress_nat_gateway_id}"
}