{
	"prod_account": {
		"security_group_id": "${prod_account_security_group_id}",
		"ecs1_id": "${prod_account_ecs1_id}",
		"ecs2_id": "${prod_account_ecs2_id}",
		"alb_id": "${prod_account_alb_id}",
		"server_group_id": "${prod_account_server_group_id}",
		"alb_listener_id": "${prod_account_alb_listener_id}"
	},
    "dev_account": {
		"security_group_id": "${dev_account_security_group_id}",
		"ecs1_id": "${dev_account_ecs1_id}",
		"ecs2_id": "${dev_account_ecs2_id}",
		"alb_id": "${dev_account_alb_id}",
		"server_group_id": "${dev_account_server_group_id}",
		"alb_listener_id": "${dev_account_alb_listener_id}"
    }
}