{
	"egress_eip_id": "${egress_eip_id}",
	"egress_eip_ip_address": "${egress_eip_ip_address}",
    "egress_nat_gateway_id": "${egress_nat_gateway_id}",
    "egress_snat_entry_id": "${egress_snat_entry_id}"
}