{
	"shared_service_account": {
		"security_group_id": "${shared_service_account_security_group_id}",
		"ecs1_id": "${shared_service_account_ecs1_id}",
		"ecs2_id": "${shared_service_account_ecs2_id}",
		"alb_id": "${shared_service_account_alb_id}",
		"server_group_id": "${shared_service_account_server_group_id}",
		"alb_listener_id": "${shared_service_account_alb_listener_id}"
	},
    "dev_account": {
		"security_group_id": "${dev_account_security_group_id}",
		"ecs1_id": "${dev_account_ecs1_id}",
		"ecs2_id": "${dev_account_ecs2_id}",
		"alb_id": "${dev_account_alb_id}",
		"server_group_id": "${dev_account_server_group_id}",
		"alb_listener_id": "${dev_account_alb_listener_id}"
    }
}