{
	"shared_service_account": {
		"vpc_id": "${shared_service_account_vpc_id}",
		"vsw1_id": "${shared_service_account_vsw1_id}",
		"vsw2_id": "${shared_service_account_vsw2_id}"
	},
    "dev_account": {
        "vpc_id": "${dev_account_vpc_id}",
        "vsw1_id": "${dev_account_vsw1_id}",
        "vsw2_id": "${dev_account_vsw2_id}"
    },
    "prod_account": {
        "vpc_id": "${prod_account_vpc_id}",
        "vsw1_id": "${prod_account_vsw1_id}",
        "vsw2_id": "${prod_account_vsw2_id}"
    },
    "ops_account": {
        "vpc_id": "${ops_account_vpc_id}",
        "vsw1_id": "${ops_account_vsw1_id}",
        "vsw2_id": "${ops_account_vsw2_id}"
    }
}