bucket="landing-zone-setup-xxxxx"
region="cn-shanghai"
prefix="foundations/terraform"
tablestore_endpoint="https://xxxx.cn-shanghai.ots.aliyuncs.com"
tablestore_table="statelock"
access_key="xxxx"
secret_key="xxxx"