{
	"security_account": {
		"anti_ddos_id": "${anti_ddos_id}",
		"shared_service_account_domain_id": "${shared_service_account_domain_id}",
		"dev_account_waf_domain_id": "${dev_account_waf_domain_id}"
	}
}