{
	"shared_service_account": {
		"vpc_id": "${shared_service_account_vpc_id}",
		"attachment_id": "${shared_service_account_attachment_id}",
		"cen_instance_id": "${cen_instance_id}",
		"cen_transit_router_id": "${cen_transit_router_id}"
	},
	"dev_account": {
		"vpc_id": "${dev_account_vpc_id}",
		"attachment_id": "${dev_account_attachment_id}",
		"cen_instance_id": "",
		"cen_transit_router_id": ""
	},
	"prod_account": {
		"vpc_id": "${prod_account_vpc_id}",
		"attachment_id": "${prod_account_attachment_id}",
		"cen_instance_id": "",
		"cen_transit_router_id": ""
	},
	"ops_account": {
		"vpc_id": "${ops_account_vpc_id}",
		"attachment_id": "${ops_account_attachment_id}",
		"cen_instance_id": "",
		"cen_transit_router_id": ""
	}
}