{
  "enabled_alerts": [
    "cis.at.abnormal_login",
    "cis.at.root_login",
    "cis.at.ram_mfa_login",
    "cis.at.unauth_login",
    "cis.at.off_duty_login",
    "cis.at.abnormal_ak_usage",
    "cis.at.ak_conf_change",
    "cis.at.root_ak_usage",
    "cis.at.ram_auth_change",
    "cis.at.ram_policy_change",
    "cis.at.pwd_login_attemp_policy",
    "cis.at.pwd_expire_policy",
    "cis.at.pwd_reuse_prevention_policy",
    "cis.at.pwd_length_policy",
    "cis.at.abnormal_pwd_mod_cnt",
    "cis.at.password_reset",
    "cis.at.password_change",
    "ip_insight",
    "ip_insight_v2",
    "cis.at.trail_off",
    "cis.at.ecs_force_reboot",
    "cis.at.ecs_reboot_alot",
    "cis.at.esc_release",
    "cis.at.ecs_disk_release",
    "cis.at.ecs_release_protec_off",
    "cis.at.ecs_disk_reinit",
    "cis.at.ecs_auto_snapshot_policy",
    "cis.at.ecs_disk_encry_detc",
    "cis.at.securitygroup_change",
    "db.at.rds_instance_del",
    "cis.at.rds_access_whitelist",
    "cis.at.rds_sql_audit",
    "cis.at.rds_ssl_config",
    "cis.at.rds_conf_change",
    "cis.at.oss_policy_change",
    "cis.at.sas_webshell_unbind",
    "cis.at.sas_webshell_detection",
    "cis.at.vpc_flowlog_off",
    "cis.at.vpc_route_change",
    "cis.at.vpc_conf_change",
    "dataflow.at.slb_http",
    "cis.at.api_err",
    "cis.at.unauth_apicall",
    "cis.at.cloudfirewall_conf_change",
    "cis.at.cfw_basic_rule_off",
    "cis.at.cfw_ai_off",
    "cis.at.cfw_ti_off",
    "cis.at.cfw_patch_off",
    "cis.at.cfw_log_off",
    "cis.at.cfw_obs_mode",
    "cis.at.cfw_loose_block",
    "cis.at.cfw_assets_protec_off",
    "cis.at.cfw_assets_auto_protec_off"
  ],
  "project_name": "",
  "project_region": "cn-shanghai",
  "log_store": "",
  "lang": "en-US"
}
